<!DOCTYPE html>
<html>
<head>
	<title>Burgers</title>
	<script src="https://vuejs.org/js/vue.js"></script>
	<link rel="stylesheet" href="css/deli-very.css">
	<script src="/vue/vue.js" defer></script>
	<script src="/socket.io/socket.io.js" defer></script>
	<script type="text/javascript" src="js/menu.js" defer></script>
	<script src="js/deli-very.js" defer></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="js/js_script.js"></script>
	<script src="js/vue_script.js" defer></script> <!-- GLÖM EJ DEFER! -->
	</head>

<body>
<div id="vue-container"> <!--this whole section is now part of vue -->
		<section id="header">
<img src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/3607952/20150408-Burger_Joint_3-1.0.jpg" id ="backgroundphoto">
<h1 id="headtag">Welcome to Let's Lunch - Your favourite lunch restaurant!</h1>
</section><main>

<div class="wrapper">
   <div v-for="(food, index) in myMenu">
  <input type="checkbox"  v-model="checkOrder[index]"><label>{{food.name}}</label>
 <img v-bind:src="food.picture" height="300">
 <p>{{food.taste}}</p>
 <p v-if= "food.gluten"> {{glutenMessage}}</p>
 <p v-if= "food.lactose">{{lactoseMessage}}</p>

 </div>
</div>

</table></section>
<section class="contact">
<h3>We also need to know where to deliver the food...</h3>
<form>
	<p>Name<br><input v-model="nameBox" placeholder="Enter first name and last name"></p>
	<!--<p>Street	<br><input v-model="streetBox" placeholder="Enter street name"></p>
	<p>Street number<br><input v-model="numberBox" type="Number" placeholder="Enter street number"></p>-->
	<div class="view-box">
		<div id="dots" v-on:click="displayOrder">
			<div v-for="(order, key) in orders"
				 v-bind:style="{ left: deliveryLocation.x + 'px', top: deliveryLocation.y + 'px'}">

				{{myT}}
			</div>
		</div>
	</div>
	{{deliveryLocation}}
	<p>Email<br><input v-model="emailBox" type="email" placeholder="Enter your personal email"></p>
</form></section>

<section id="payment">
	<h3>Time to pay....</h3>
	<form action="">
  <input type="radio" name="gender" value="male" v-model="genderPick"> Male<br>
  <input type="radio" name="gender" value="female" v-model="genderPick"> Female<br>
  <input type="radio" name="gender" value="other" checked="checked" v-model="genderPick"> Other
	<p><label for="Payment">Payment</label><br>
    <select v-model="paymentSelect">
				<option disabled value="">Select your payment</option>
        <option>Swish</option>
        <option>Mastercard</option>
        <option>Visa</option>
        <option>Cash</option>
        <option>Traveler Check</option>
    </select></p>
</form>
</section>

<button type="submit" id="vue-container" v-on:click="addOrder"><img src="http://www.pngmart.com/files/3/Submit-Button-PNG-Clipart.png" value="Send" height=30>
	</button>

</main>
<footer>
	VERY COPYRIGHTED - DON'T TRY TO COPY!!!
</footer>

<p id = "theOrder"> Ordered burgers: <span v-for="(checkorders, index) in checkOrder" v-if="checkorders">{{myMenu[index].name}} </span><br>
{{nameBox}} with email {{emailBox}} and gender {{genderPick}} will pay with {{paymentSelect}}</p><br>
</div>


</body>
</html>
